@page
@model GymMaxim.Pages.Trainers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].TrainerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].TrainerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer[0].Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trainer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TrainerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TrainerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TrainerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
