@page
@model GymMaxim.Pages.Activities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>חוגים</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<form>
    <div>
        <p>
            Find By Activity Name:
            <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Back To Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].WorkDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Activity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ActivityID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ActivityID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ActivityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
