@page
@model GymMaxim.Pages.Activities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>חוגים</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<form>
    <div>
        <p>
            Find By Activity Name:
            <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Back To Full List</a>
        </p>
    </div>
</form>

<div class="grid-container">
    
    @foreach (var item in Model.Activity) {
    <div class="grid-item">
            <img src="~/Images/@item.Image" alt="Image" style="width:150px; height:150px;" />

            <div> @Html.DisplayFor(modelItem => item.ActivityName) </div>
            <div> @Html.DisplayFor(modelItem => item.ActivityType) </div>
            <div> @Html.DisplayFor(modelItem => item.Price) </div>
            <div> @Html.DisplayFor(modelItem => item.WorkDays) </div>
            <div> @Html.DisplayFor(modelItem => item.Trainer.FirstName)  </div>

            <div>
                <a asp-page="./Edit" asp-route-id="@item.ActivityID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ActivityID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ActivityID">Delete</a>
            </div>
    </div>
    }
</div>
