@page
@model GymMaxim.Pages.Payments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Enrollment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollment.EnrollmentID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PaymentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PaymentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PaymentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
